<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

<link rel="shortcut icon" type="image/png" href="{{site.url}}/favicon.ico">

<meta property="og:title" content="Jett.teach()" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{site.url}}" />
<meta property="og:image" content="{{site.url}}/images/jett-hackathon.jpg" />
<meta property="og:description" content="{{site.description}}" />
